body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.calculator {

  background-image: url('/src/images/mathematics.jpg');
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.display {
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.clear,
.equals {
  grid-column: span 2;
  background-color: #dc3545;
}

.clear:hover,
.equals:hover {
  background-color: #c82333;
}

.image {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}
